@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Fonts
$main-font: 'Inter', sans-serif;

// Colors
$main-color: #FF5A0F;
$black-color: #181818;
$white-color: #FFFFFF;
$secondary-color: #FF9C6F;
$dark-grey-color: #595959;
$grey-color: #D9D9D9;
$background-color: #F5F5F5;